<?xml version="1.0"?>
<config>
    <modules>
        <SDT_StorePickup>
            <version>1.0.0</version>
        </SDT_StorePickup>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <SDT_StorePickup before="Mage_Checkout">SDT_StorePickup</SDT_StorePickup>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <global>
        <models>
            <sdt_storepickup>
                <class>SDT_StorePickup_Model</class>
            </sdt_storepickup>
            <checkout>
                <rewrite>
                    <type_onepage>SDT_StorePickup_Model_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <helpers>
            <sdt_storepickup>
                <class>SDT_StorePickup_Helper</class>
            </sdt_storepickup>
        </helpers>
        <resources>
            <shipping_setup>
                <setup>
                    <module>SDT_StorePickup</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipping_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <store_pickup>
                    <to_order>*</to_order>
                </store_pickup>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <default>
        <carriers> <!-- подключаем новый метод доставки -->
            <sdt_storepickup>
                <active>1</active>
                <model>sdt_storepickup/pickup</model>
                <name>Shipping</name>
                <price>0</price>
                <title>Shipping Method</title>
            </sdt_storepickup>
        </carriers>
    </default>
</config>